.search-bar {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 40%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}